form {
    font-size: 1.5rem;
  }
  mat-form-field {
    width: 30rem;
    margin-bottom: 1rem;
    margin-bottom: 2em;
  }
  
  button {
    width: 20rem;
  }
  mat-icon {
    font-size: 1.5rem;
  }
  
  .card-center {
    margin-top: 5rem;
    position: relative;
  }
  
  .icon-space {
    color: gray;
    margin-bottom: 7rem;
    font-size: 10rem;
  }
  
  .container > * {
    width: 100%;
    font-size: 1.5rem;
  }
  img {
    height: 10rem;
    margin-bottom:2rem;
  }
  